#game{

        left: 0px !important;
        top: 0px !important;
         }

#menu {
        left: 0px !important;
        top: 100px !important;
}

#time {
    margin: 700px 0 0 70px !important;
}

#score {

  margin: 700px 0 0 500px !important;
}

#kugel{

    margin: 675px 0 0 850px !important;
}

#ammo {
      margin: 695px 0 0 905px !important;
}

.menubutton {
    margin: 0px 10px 20px 190px !important;
}

 .postionHighscoreAbfrage{
        margin-left: 125px !important;
        top: 75 !important;
}
